body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: lightskyblue;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: 'Century Gothic',sans-serif;
  }

  .skill{
    width: 450px;
    background: lightgoldenrodyellow;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: 'Century Gothic',sans-serif;
  }

  .project{width: 350px;
    background: lightslategray;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: 'Century Gothic',sans-serif;

  }

  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  
  .contact-me{width: 450px;
    background: lightsalmon ;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: 'Century Gothic',sans-serif;

  }

  
    .button {
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #04AA6D;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    .button:hover {background-color: #3e8e41}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    footer {
      text-align: center;
      padding: 3px;
      background-color:white ;
      color: blue;
    }

    img{
      height: 50%;
      width: 50%;
    }